@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DogGo</h1>
    <p>Find a Dog Walker Near You!</p>
    <img class="img-fluid" src="http://www.freshboo.com/wp-content/uploads/2014/07/cute-dog-baby.jpg" alt="dog"/>
</div>
